:where(:root) {
	/* Color variables */
	--col-mono-zs: oklch(17% 0.01 268);
	--col-mono-xs: oklch(29% 0.01 268);
	--col-mono-sm: oklch(41% 0.01 268);
	--col-mono-md: oklch(53% 0.01 268);
	--col-mono-lg: oklch(67% 0.01 268);
	--col-mono-xl: oklch(83% 0.01 268);
	--col-mono-zl: oklch(97% 0.01 268);

	--col-red0: oklch(68% 0.20 015);
	--col-red1: oklch(76% 0.14 015);
	--col-orange0: oklch(76% 0.16 055);
	--col-orange1: oklch(82% 0.12 055);
	--col-yellow0: oklch(82% 0.17 080);
	--col-yellow1: oklch(88% 0.12 082);
	--col-green0: oklch(79% 0.18 156);
	--col-green1: oklch(88% 0.16 156);
	--col-cyan0: oklch(79% 0.13 200);
	--col-cyan1: oklch(88% 0.14 200);
	--col-blue0: oklch(72% 0.15 270);
	--col-blue1: oklch(79% 0.12 270);
	--col-violet0: oklch(76% 0.17 310);
	--col-violet1: oklch(82% 0.12 310);
	--col-magenta0: oklch(76% 0.18 345);
	--col-magenta1: oklch(82% 0.14 345);

	color-scheme: light dark;
	color: light-dark(var(--col-mono-zs), var(--col-mono-zl));
	background-color: light-dark(var(--col-mono-zl), var(--col-mono-zs));
}

:where([theme="dark"], [data-theme="dark"]) {
	color-scheme: dark;
}

:where([theme="light"], [data-theme="light"]) {
	color-scheme: light;
}

pre {
	background-color: light-dark(var(--col-mono-xl), var(--col-mono-xs));
}

kbd {
	background-color: light-dark(var(--col-mono-zs), var(--col-mono-zl));
	color: light-dark(var(--col-mono-zl), var(--col-mono-zs));
}

blockquote {
	border-inline-start: var(--zs-rem) solid light-dark(var(--col-mono-xl), var(--col-mono-xs));
}

ins {
	text-decoration: none;
	color: seagreen;
}

del {
	text-decoration: none;
	color: indianred;
}