:root {
	--sqrt2: sqrt(2);

	--sm8: pow(var(--sqrt2), -4.0);
	--sm7: pow(var(--sqrt2), -3.5);
	--sm6: pow(var(--sqrt2), -3.0);
	--sm5: pow(var(--sqrt2), -2.5);
	--sm4: pow(var(--sqrt2), -2.0);
	--sm3: pow(var(--sqrt2), -1.5);
	--sm2: pow(var(--sqrt2), -1.0);
	--sm1: pow(var(--sqrt2), -0.5);
	--lg1: pow(var(--sqrt2), +0.5);
	--lg2: pow(var(--sqrt2), +1.0);
	--lg3: pow(var(--sqrt2), +1.5);
	--lg4: pow(var(--sqrt2), +2.0);
	--lg5: pow(var(--sqrt2), +2.5);
	--lg6: pow(var(--sqrt2), +3.0);
	--lg7: pow(var(--sqrt2), +3.5);
	--lg8: pow(var(--sqrt2), +4.0);

	--zs: var(--sm6);
	--xs: var(--sm4);
	--sm: var(--sm2);
	--md: 1;
	--lg: var(--lg2);
	--xl: var(--lg4);
	--zl: var(--lg6);

	--sm8-rem: calc(1rem * var(--sm8));
	--sm7-rem: calc(1rem * var(--sm7));
	--sm6-rem: calc(1rem * var(--sm6));
	--sm5-rem: calc(1rem * var(--sm5));
	--sm4-rem: calc(1rem * var(--sm4));
	--sm3-rem: calc(1rem * var(--sm3));
	--sm2-rem: calc(1rem * var(--sm2));
	--sm1-rem: calc(1rem * var(--sm1));
	--lg1-rem: calc(1rem * var(--lg1));
	--lg2-rem: calc(1rem * var(--lg2));
	--lg3-rem: calc(1rem * var(--lg3));
	--lg4-rem: calc(1rem * var(--lg4));
	--lg5-rem: calc(1rem * var(--lg5));
	--lg6-rem: calc(1rem * var(--lg6));
	--lg7-rem: calc(1rem * var(--lg7));
	--lg8-rem: calc(1rem * var(--lg8));

	--zs-rem: var(--sm6-rem);
	--xs-rem: var(--sm4-rem);
	--sm-rem: var(--sm2-rem);
	--md-rem: 1rem;
	--lg-rem: var(--lg2-rem);
	--xl-rem: var(--lg4-rem);
	--zl-rem: var(--lg6-rem);

	--sm8-em: calc(1em * var(--sm8));
	--sm7-em: calc(1em * var(--sm7));
	--sm6-em: calc(1em * var(--sm6));
	--sm5-em: calc(1em * var(--sm5));
	--sm4-em: calc(1em * var(--sm4));
	--sm3-em: calc(1em * var(--sm3));
	--sm2-em: calc(1em * var(--sm2));
	--sm1-em: calc(1em * var(--sm1));
	--lg1-em: calc(1em * var(--lg1));
	--lg2-em: calc(1em * var(--lg2));
	--lg3-em: calc(1em * var(--lg3));
	--lg4-em: calc(1em * var(--lg4));
	--lg5-em: calc(1em * var(--lg5));
	--lg6-em: calc(1em * var(--lg6));
	--lg7-em: calc(1em * var(--lg7));
	--lg8-em: calc(1em * var(--lg8));

	--zs-em: var(--sm6-em);
	--xs-em: var(--sm4-em);
	--sm-em: var(--sm2-em);
	--md-em: 1em;
	--lg-em: var(--lg2-em);
	--xl-em: var(--lg4-em);
	--zl-em: var(--lg6-em);
}
