:where(:root) {
	/* The following variables should be overidden by the website */
	--theme-font-serif: serif;
	--theme-font-sans-serif: sans-serif;
	--theme-font-display: sans-serif;
	--theme-font-monospace: monospace;
}

:root {
	--font-stack-serif: var(--theme-font-serif), ui-serif, serif;
	--font-stack-sans-serif: var(--theme-font-sans-serif), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", ui-sans-serif, sans-serif, var(--font-stack-emoji);
	--font-stack-monospace: var(--theme-font-monospace), SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace, monospace, var(--font-stack-emoji);
	--font-stack-display: var(--theme-font-display), var(--font-stack-sans-serif);
	--font-stack-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", emoji;

	--margin-text-optical-correction: calc(1em - 1lh);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-stack-display);
	font-weight: bold;
	line-height: 1;
}

:where(h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote) {
	margin-block-end: var(--md-rem);
}

:where(code, kbd, pre, samp) {
	font-family: var(--font-stack-monospace);
}

kbd {
	font-weight: bold;
}

h1 {
	font-size: var(--lg5-em);
}

h2 {
	font-size: var(--lg4-em);
}

h3 {
	font-size: var(--lg3-em);
}

h4 {
	font-size: var(--lg2-em);
}

h5 {
	font-size: var(--lg1-em);
}

h6 {
	font-size: var(--md-em);
}