:root {
	/*
	The following variables should be overidden by the website;
	If they are not, default system UI fonts will be used instead.
	*/

	--theme-font-serif: serif;
	--theme-font-sans-serif: sans-serif;
	--theme-font-display: sans-serif;
	--theme-font-monospace: monospace;

	--font-stack-serif: var(--theme-font-serif), ui-serif, serif;
	--font-stack-sans-serif: var(--theme-font-sans-serif), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", ui-sans-serif, sans-serif, var(--font-stack-emoji);
	--font-stack-monospace: var(--theme-font-monospace), SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace, monospace, var(--font-stack-emoji);
	--font-stack-display: var(--theme-font-display), var(--font-stack-sans-serif);
	--font-stack-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", emoji;

	--margin-text-optical-correction: calc(1em - 1lh);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-stack-display);
	font-weight: bold;
}

:where(h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote) {
	margin-block-end: var(--md-rem);
}

:where(code, kbd, pre, samp) {
	font-family: var(--font-stack-monospace);
}

kbd {
	font-weight: bold;
}

/*
  Roughly based on the following guidelines:
  https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings
*/

h1 {
	font-size: var(--zl-em);
}

h2 {
	font-size: var(--xl-em);
}

h3 {
	font-size: var(--lg-em);
}

h4 {
	font-size: var(--md-em);
}

h5 {
	font-size: var(--sm1-em);
}

h6 {
	font-size: var(--sm2-em);
}