:root {
	--font-serif: "Libre Baskerville";
	--font-sans-serif: Inter;
	--font-monospace: "Jetbrains Mono";
	--font-fantasy: "Shantell Sans";

	--font-stack-serif: var(--font-serif), ui-serif, serif;
	--font-stack-sans-serif: var(--font-sans-serif), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", ui-sans-serif, sans-serif, var(--font-stack-emoji);
	--font-stack-monospace: var(--font-monospace), SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace, monospace, var(--font-stack-emoji);
	--font-stack-fantasy: var(--font-fantasy), fantasy;
	--font-stack-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", emoji;

	--font-size-zs: 0.625rem;
	--font-size-xs: 0.875rem;
	--font-size-sm: 1rem;
	--font-size-md: 1.5rem;
	--font-size-lg: 2rem;
	--font-size-xl: 3rem;
	--font-size-zl: 4rem;
}

@each $size in "zs", "xs", "sm", "md", "lg", "xl", "zl" {
	.fs\:#{$size} {
		font-size: var(--font-size-#{$size});
	}
}

@each $weight-name, $weight in ("zs": 200, "xs": 300, "sm": 400, "md": 500, "lg": 600, "xl": 800, "zl": 1000) {
	.fw\:#{$weight-name} {
		font-weight: $weight;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	--margin-optical-correction: calc(1em - 1lh);
	margin-top: var(--margin-optical-correction);
	margin-bottom: var(--margin-optical-correction);
}