$named-sizes: (
	"": ("0": 0,
		"zs": var(--zs-rem),
		"xs": var(--xs-rem),
		"sm": var(--sm-rem),
		"md": var(--md-rem),
		"lg": var(--lg-rem),
		"xl": var(--xl-rem),
		"zl": var(--zl-rem)),
	"-em": ("zs": var(--zs-em),
		"xs": var(--xs-em),
		"sm": var(--sm-em),
		"md": var(--md-em),
		"lg": var(--lg-em),
		"xl": var(--xl-em),
		"zl": var(--zl-em))
);

@each $unit-suffix, $size-list in $named-sizes {
	@each $size-name, $size in $size-list {
		@each $type, $type-abbr in ("margin": "m", "padding": "p") {
			@each $side, $side-abbr in ("": "", "-top": "t", "-left": "l", "-bottom": "b", "-right": "r", "-inline-start": "s", "-inline-end": "e") {
				.#{$type-abbr}#{$side-abbr}#{$unit-suffix}\:#{$size-name} {
					#{$type}#{$side}: $size;
				}
			}

			.#{$type-abbr}h#{$unit-suffix}\:#{$size-name} {
				#{$type}-left: $size;
				#{$type}-right: $size;
			}

			.#{$type-abbr}v#{$unit-suffix}\:#{$size-name} {
				#{$type}-top: $size;
				#{$type}-bottom: $size;
			}
		}

		@each $corner, $corner-abbr in ("": "", "-top-left": "tl", "-top-right": "tr", "-bottom-left": "bl", "-bottom-right": "br") {
			.r#{$corner-abbr}#{$unit-suffix}\:#{$size-name} {
				border#{$corner}-radius: $size;
			}
		}

		@each $y, $y-abbr in ("top": "t", "bottom": "b") {
			.r#{$y-abbr}#{$unit-suffix}\:#{$size-name} {
				border-#{$y}-left-radius: $size;
				border-#{$y}-right-radius: $size;
			}
		}

		@each $x, $x-abbr in ("left": "l", "right": "r") {
			.r#{$x-abbr}#{$unit-suffix}\:#{$size-name} {
				border-top-#{$x}-radius: $size;
				border-bottom-#{$x}-radius: $size;
			}
		}

		.g#{$unit-suffix}\:#{$size-name} {
			gap: $size;
		}
	}
}

.mt\:o {
	margin-top: var(--margin-text-optical-correction);
}

.mb\:o {
	margin-bottom: var(--margin-text-optical-correction);
}

.mv\:o {
	margin-top: var(--margin-text-optical-correction);
	margin-bottom: var(--margin-text-optical-correction);
}

@each $size-name, $size in ("zs": .625rem, "xs": .875rem, "sm": 1rem, "md": 1.5rem, "lg": 2rem, "xl": 3rem, "zl": 4rem) {
	.fs\:#{$size-name} {
		font-size: $size;
	}
}

@each $weight-name, $weight in ("zs": 200, "xs": 300, "sm": 400, "md": 500, "lg": 600, "xl": 800, "zl": 1000) {
	.fw\:#{$weight-name} {
		font-weight: $weight;
	}
}