@use 'reset';
/* @use 'debug'; */
@use 'typography';
@use 'colors';
/* @use 'stack'; */

pre,
kbd {
  padding: var(--zs-em);
  border-radius: var(--zs-rem);
}

pre {
  overflow-inline: auto;
  line-height: 1.25;
}

kbd {
  display: inline-block;
  line-height: 1;
}

:where(ol, ul) {
  padding-inline-start: var(--xl-rem);
}

blockquote {
  padding-inline-start: var(--md-rem);
}
